*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  min-height: 100vh;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-select {
  width: 100%;
}
